@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto Slab', 'serif';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #18294c;
  overflow-x: hidden;
}

html,
body {
  overflow-x: hidden;
}

/* 
Mouse scroll animation  
https://unused-css.com/blog/animated-down-arrow/
*/
#mouse-scroll {
  display: block;
}
#mouse-scroll {
  position: relative;
  margin: auto;
  bottom: 5%;
  z-index: 10;
  transform: translateX(-50%);
}
#mouse-scroll span {
  display: block;
  width: 10px;
  height: 10px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg) translateX(5px);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
  height: 42px;
  width: 28px;
  border-radius: 20px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 3px solid #ffffff;
  top: 170px;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 8px;
}
#mouse-scroll .down-arrow-1 {
  -webkit-animation: mouse-scroll 0.8s infinite;
  -moz-animation: mouse-scroll 0.8s infinite;
}
#mouse-scroll .down-arrow-1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #ffffff;
  position: relative;
}
#mouse-scroll .mouse-in {
  -webkit-animation: animated-mouse 1.2s ease infinite;
  -moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.nav-link {
  background-image: linear-gradient(to left, #ddd, #ddd 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: 100%;
  position: relative;
  display: inline;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav-link::before {
  content: '';
  background: #ffeb80;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
  z-index: 20;
  cursor: pointer;
}

.nav-link:hover {
  background-position: 0;
  cursor: pointer;
}

.nav-link:hover::before {
  width: 100%;
  z-index: 20;
  cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #57b0d5;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.slideUp {
  transform: translateY(-100%);
  transition-duration: 1000ms;
}
